.player-container {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  .track-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
  }
  
  .track-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgb(85, 22, 22);
    transition: background 0.3s;
  }
  
  .track-list li:hover {
    background: #7e7f8aa7;
    color: rgb(255, 255, 255);
  }
  
  .track-list .active {
    background: rgb(85, 22, 22);
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .album-list ul {
    list-style: none;
    padding: 0;
  }
  
  .album-list li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgb(85, 22, 22);
  }
  
  .album-list li:hover {
    background: rgb(85, 22, 22);
    color: rgb(255, 255, 255);
  }
  