.video-container {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    height: 100vh;
  }
  
  .video-container h2 {
    margin-bottom: 10px;
  }
  
  .video-list {
    text-align: center;
    margin-top: 20px;
  }
  
  .video-list ul {
    list-style: none;
    padding: 0;
  }
  
  .video-list li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background 0.3s;
  }
  
  .video-list li:hover {
    background: #7e7f8aa7;
  }
  .video-list li{
    background: rgb(85, 22, 22);
    color: rgb(255, 255, 255);
    font-weight: bold;
  }