*{
  text-align: center;
  color: rgb(85, 22, 22);
}
.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 900;
  font-style: normal;

}

ul,li{
  background-color: rgba(214, 224, 165, 0.666);
}



